<%- contentFor( 'body') %>

<div class="jumbotron">
    <p><span style="font-weight: 600;">Aluno:</span><span style="font-weight: 400;">Júlio César Luz Gomes da Costa</span></p>
    <p><span style="font-weight: 600;">O código desta aplicação encontra-se no endereço: </span><a href="https://github.com/JulioCesarLuz/first-app" target="_blank" rel="noopener noreferrer">https://github.com/JulioCesarLuz/first-app</a> 
        <p><span style="font-weight: 600;">A criação da aplicação foi inspirada nos seguintes códigos:</span>
            <ul>
                <li>Código do professor Wellington Sarmento, que foi tomado como base para a aplicação e para fazer as funções iniciais. O link do GitHub com o código se encontra a seguir: <a href="https://github.com/wwagner33/first-app2" target="_blank" rel="noopener noreferrer">https://github.com/wwagner33/first-app2</a></li>
                <li>Código do Jair Ferreira, que ajudou na criação da função de listagem dos usuários cadastrados. O link do GitHub com o código se encontra a seguir: <a href="https://github.com/estigiox/Trab-I-AMII" target="_blank" rel="noopener noreferrer">https://github.com/estigiox/Trab-I-AMII</a></li>
                <li>Código do Mattheus Del Vianple, que ajudou na formatação do README e na listagem de usuários. O link do GitHub com o código se encontra a seguir: <a href="https://github.com/NovoVerso/AM2/tree/master/first-app2-main" target="_blank" rel="noopener noreferrer">https://github.com/NovoVerso/AM2/tree/master/first-app2-main</a></li>
            </ul>

            <span style="font-weight: 400;">Esta aplicação está sob licença </span><a href="https://github.com/JulioCesarLuz/first-app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
            Júlio César L. G. Costa <span class="copyleft">&copy;</span>. <span class="font-italic">Todos os direitos reservados.</span></p>  
</div>