<%- contentFor( 'body') %>

<div class="jumbotron">
    <p>Júlio César L. G. da Costa <span class="copyleft">&copy;</span>, <span class="font-italic">Todos os direitos reservados.</span></p>
    <p>O código desta aplicação está sob licença  <a href="https://github.com/JulioCesarLuz/first-app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
    <p>O código desta aplicação encontra-se no endereço <a href="https://github.com/JulioCesarLuz/first-app" target="_blank" rel="noopener noreferrer">https://github.com/JulioCesarLuz/first-app</a> e foi criado com base no código do professor Wellington Sarnento, que se encontra no endereço <a href="https://github.com/wwagner33/first-app2" target="_blank" rel="noopener noreferrer">https://github.com/wwagner33/first-app2</a></p>
    <p>Universidade Federal do Ceará</p>
</div>