<%- contentFor('body') %>

<div class="jumbotron">
    <p><span style="font-weight: 600;">Esta Aplicação Web criada na cadeira de Autoração Multimídia II, usando a tecnologia 
        Node.js, com auxílio de Express e EJS. Resumo do trabalho:</span></p>
    <p><span style="font-weight: 400;">Criar um repositório no Github para armazenar a aplicação que será conduzida em sala de aula. 
        Criar uma aplicação para web usando Node.js, Express e EJS que permita o gerenciamento de cadastros 
        de pessoas em todas as partes da aplicação. As funções serão iniciadas em sala de aula e finalizadas em casa. 
        Ao final da aplicação, um arquivo PDF com o link para o GitHub da aplicação deve ser submetido 
        não Portfólio do Solar. A aplicação deve ser iniciada no dia 30/07 e finalizada no dia 01/09. 
        Serão quatro aulas onde iremos conduzir o desenvolvimento, deixando a finalização do que for 
        produzido para ser feito em casa por cada aluno, Nos slides da aula, presentes no material e 
        apoio do Solar com o nome "Node.js&Express&EJS.pdf", constarão cada parte da aplicação, os conceitos
        e o que se quer que faça em casa.
         <span> Partes da aplicação: </span>
         <ul>
             <li>Cadastro de usuários.</li>
             <li>Lista de usuários</li>
             <li>Atualização das informações de usuários.</li>
             <li>Remoção dos usuários.</li>
             <li>Formulário para cadastro.</li>
         </ul></span>
        </p>
</div>